* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: "Segoe Pro", sans-serif;
}

body {
  background-color: #0d1117;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 8px 0;
  background-color: #161b22;
}

nav .navbar,
nav .navbar .links,
nav .navbar .links > div,
nav .navbar .links > div ul,
nav .navbar .links > div ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .navbar {
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
  padding: 0 16px;
}

nav .navbar > svg,
nav .navbar .mobile {
  margin-right: 16px;
  font-size: 32px;
  color: #f0f6fc;
}

nav .navbar .links {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

nav .navbar .links .close {
  display: none;
  margin: -16px -16px 16px -16px;
  width: 300px;
  height: 64px;
  padding: 16px;
  background-color: #0d1117;
  border-bottom: 2px solid #21262d;
}

nav .navbar .links .close svg {
  margin-left: auto;
  height: 100%;
  color: #ffffff80;
  font-size: 18px;
}

nav .navbar .links > div ul {
  position: relative;
}

nav .navbar .links > div ul li {
  margin-right: 16px;
  padding: 16px 0;
  cursor: pointer;
}

nav .navbar .links > div ul li a,
nav .navbar .links > div ul li a:active,
nav .navbar .links > div ul li p {
  font-size: 16px;
  text-decoration: none;
  color: #f0f6fc;
}

nav .navbar .links > div ul li p {
  margin-right: 3px;
}

nav .navbar .links > div ul li svg {
  color: #ffffff80;
}

nav .navbar .links > div ul .dropdown {
  position: relative;
  z-index: 1;
}

nav .navbar .links > div ul .dropdown p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .navbar .links > div ul .dropdown p svg {
  margin-left: 3px;
}

nav .navbar .links > div ul .dropdown__menu {
  display: none;
  position: absolute;
  top: 100%;
  border-radius: 6px;
  width: 300px;
  padding: 24px;
  background-color: #1c2128;
}

nav .navbar .links > div ul .dropdown__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

nav .navbar .links > div ul .dropdown__menu ul li {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  width: 100%;
  padding: 8px 0;
  cursor: pointer;
}

nav .navbar .links > div ul .dropdown__menu ul li .highlighted {
  color: #f0f6fc;
}

nav .navbar .links > div ul .dropdown__menu ul li p,
nav .navbar .links > div ul .dropdown__menu ul li a {
  font-size: 14px;
  color: #f0f6fc66;
}

nav .navbar .links > div ul .dropdown__menu ul li p {
  font-family: "SF Mono", sans-serif;
  margin-bottom: 8px;
}

nav .navbar .links > div ul .dropdown__menu ul hr {
  margin: 8px 0;
  border: 1px solid #21262d;
  width: 100%;
  height: 1px;
  background-color: #21262d;
}

nav .navbar .links > div ul .dropdown .toggled {
  display: block;
}

nav .navbar .links > div input {
  margin-right: 16px;
  border: 1px solid #21262d;
  border-radius: 6px;
  width: 200px;
  padding: 8px 12px;
  background-color: #0d1117;
  line-height: 20px;
  color: #f0f6fc;
}

nav .navbar .links > div input::-webkit-input-placeholder {
  color: #f0f6fc;
}

nav .navbar .links > div input:-ms-input-placeholder {
  color: #f0f6fc;
}

nav .navbar .links > div input::-ms-input-placeholder {
  color: #f0f6fc;
}

nav .navbar .links > div input::placeholder {
  color: #f0f6fc;
}

nav .navbar .links > div:last-child svg {
  display: none;
  margin: 0;
}

nav .navbar .menuToggled {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .navbar .sign-up {
  padding: 4px 8px;
  border: 1px solid #6e7681;
  font-size: 16px;
  text-decoration: none;
  color: #f0f6fc;
  border-radius: 6px;
}

nav .navbar .mobile {
  position: relative;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  text-align: right;
}

nav .navbar .mobile .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .navbar .mobile .menu svg {
  margin-left: 16px;
}

nav .navbar .mobile .tooltip {
  bottom: -30px;
  left: -38px;
}

nav .navbar .mobile .tooltip::before {
  right: 10px;
  left: unset;
}

nav .navbar .tooltip {
  -webkit-transition: visibility 500ms linear, opacity 500ms linear;
  transition: visibility 500ms linear, opacity 500ms linear;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  bottom: -20px;
  border-radius: 6px;
  padding: 4px 8px;
  background-color: #388bdf;
  font-size: 12px;
  color: #c9d1d9;
}

nav .navbar .tooltip::before {
  content: "";
  position: absolute;
  left: 18px;
  top: -5px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #388bdf;
  clear: both;
}

nav .navbar .desktop-active {
  visibility: visible;
  opacity: 1;
}

nav .navbar .links div ul li:hover a,
nav .navbar .links div ul li:hover p {
  color: #ffffff80;
}

nav .navbar .links div ul li:hover .dropdown__menu {
  display: block;
}

nav .navbar .links div ul li:hover .dropdown__menu li:hover a,
nav .navbar .links div ul li:hover .dropdown__menu li:hover svg {
  color: #388bdf;
}

header {
  margin-top: 24px;
  border-bottom: 1px solid #21262d;
  overflow: hidden;
}

header ul {
  max-width: 1280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 8px auto 0;
  list-style-type: none;
}

header ul div {
  width: 25%;
  height: 30px;
}

header ul li {
  padding-bottom: 8px;
}

header ul li a,
header ul li a:visited {
  margin: 0 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 30px;
  text-decoration: none;
  color: #8b949e;
}

header ul li a svg,
header ul li a:visited svg {
  margin-right: 4px;
  font-size: 16px;
}

header ul li:not(.active):hover {
  border-bottom: 1px solid #f0f6fc;
}

header ul li:not(.active):hover a {
  color: #f0f6fc;
}

header ul .active {
  border-bottom: 1px solid #f9826c;
}

header ul .active a {
  color: #f0f6fc !important;
  font-weight: 600;
}

.header-mobile {
  display: none;
}

main {
  margin: 0 auto;
  max-width: 1280px;
  min-height: calc(100vh - 273px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main aside {
  margin-top: -25px;
  width: 25%;
  padding: 0 16px;
}

main aside div:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main aside div:first-child img {
  border: 1px solid #21262d;
  width: 100%;
  border-radius: 50%;
}

main aside div:first-child .names {
  padding: 16px 0;
  overflow: hidden;
  white-space: nowrap;
}

main aside div:first-child .names h1:first-child {
  font-size: 26px;
  line-height: 1.25;
  font-weight: 600;
  color: #f0f6fc;
}

main aside div:first-child .names h1:last-child {
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  color: #8b949e;
}

main aside button {
  -webkit-transition: border 100ms linear, background-color 100ms linear;
  transition: border 100ms linear, background-color 100ms linear;
  margin-bottom: 16px;
  border: 1px solid #30363d;
  border-radius: 6px;
  width: 100%;
  padding: 5px 16px;
  background-color: #21262d;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  text-align: center;
  color: #c9d1d9;
  cursor: pointer;
}

main aside button:hover {
  -webkit-transition: border 100ms linear, background-color 100ms linear;
  transition: border 100ms linear, background-color 100ms linear;
  border: 1px solid #f0f6fc;
  background-color: #f0f6fc33;
}

main aside p {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.5;
  color: #f0f6fc;
  word-wrap: break-word;
}

main aside ul {
  margin-bottom: 16px;
  list-style-type: none;
}

main aside ul li {
  margin-top: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #f0f6fc;
  white-space: nowrap;
}

main aside ul li a,
main aside ul li p {
  font-size: 14px;
  color: #f0f6fc !important;
}

main aside ul li a svg,
main aside ul li p svg {
  width: 24px;
  margin-right: 4px;
  color: #8b949e;
}

main aside .block,
main aside .block:visited {
  margin: 8px 0;
  text-decoration: none;
  color: #8b949e;
}

main aside .block:hover {
  color: #388bdf;
}

main section {
  width: 75%;
  padding: 24px 16px;
}

main section .repos h3 {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #f0f6fc;
}

main section .repos__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  gap: 8px;
}

main section .repos__list__repo {
  width: calc(100% - 16px);
  padding: 16px;
  border: 1px solid #30363d;
  border-radius: 6px;
}

main section .repos__list__repo a,
main section .repos__list__repo a:visited {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  text-decoration: none;
  color: #388bdf;
}

main section .repos__list__repo a svg,
main section .repos__list__repo a:visited svg {
  margin-right: 4px;
  font-size: 16px;
  color: #8b949e;
}

main section .repos__list__repo a:hover {
  text-decoration: underline;
}

main section .repos__list__repo p {
  margin: 8px 0 16px;
  font-size: 12px;
  color: #8b949e;
}

main section .repos__list__repo__lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 !important;
}

main section .repos__list__repo__lang__color {
  display: inline-block;
  margin-right: 3px;
  border-radius: 50%;
  border: 1px solid #30363d;
  width: 12px;
  height: 12px;
}

main .alert {
  position: fixed;
  z-index: 2;
  bottom: 10%;
  left: 50%;
  display: none;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 6px;
  padding: 8px 16px;
  background-color: #701516;
}

main .alert h5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #f0f6fc;
}

main .alert h5 svg {
  margin-right: 4px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 40px auto 0;
  border-top: 1px solid #21262d;
  width: calc(100% - 32px);
  max-width: 1280px;
  padding: 40px 16px 8px;
  font-size: 12px;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 41.66667%;
  list-style-type: none;
}

footer ul li p {
  color: #8b949e;
}

footer ul li a,
footer ul li a:visited {
  text-decoration: none;
  color: #388bdf;
}

footer svg {
  font-size: 24px;
  color: #30363d;
}

@media only screen and (max-width: 992px) {
  nav {
    padding: 16px 0;
  }
  nav .navbar .links,
  nav .navbar .links > div,
  nav .navbar .links > div ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  nav .navbar {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  nav .navbar .links {
    display: none;
    z-index: 2;
    position: fixed;
    right: 0;
    top: 0;
    overflow: scroll;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 300px;
    min-height: 100vh;
    height: 100%;
    padding: 16px;
    background-color: #161b22;
  }
  nav .navbar .links .close {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav .navbar .links > div,
  nav .navbar .links > div ul {
    width: 100%;
  }
  nav .navbar .links > div:nth-child(2) > ul > li {
    width: 100%;
    border-bottom: 1px solid #21262d;
  }
  nav .navbar .links > div:nth-child(2) > ul .dropdown {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  nav .navbar .links > div:nth-child(2) > ul .dropdown p {
    width: 100%;
  }
  nav .navbar .links > div:nth-child(2) > ul .dropdown__menu {
    position: relative;
    top: 0;
    margin-top: 16px;
    width: calc(300px - 32px);
    padding: 8px 16px;
  }
  nav .navbar .links > div:last-child ul {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav .navbar .links > div:last-child ul input {
    width: 100%;
    margin: 16px 0 0 0;
  }
  nav .navbar .links > div:last-child ul .desktop-active {
    display: none;
  }
  nav .navbar .links::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }
  nav .navbar .menuToggled {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav .navbar .mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header {
    border: none;
    width: 100%;
    overflow: scroll;
  }
  header ul {
    width: 100%;
    border-bottom: 1px solid #21262d;
  }
  header::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }
  .header-desktop {
    display: none;
  }
  .header-mobile {
    display: block;
  }
  main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main aside,
  main section {
    width: 100%;
  }
  main aside {
    margin-top: 0;
  }
  main aside div:first-child {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 24px;
  }
  main aside div:first-child img {
    margin-right: 16px;
    width: 16.66667%;
    min-width: 90px;
    min-height: 90px;
  }
  main aside div:first-child .names {
    width: 83.33333%;
    margin: auto 0;
  }
  main aside p,
  main aside ul {
    display: none;
  }
  main section {
    min-height: calc(100vh - 128px - 187.7px - 47px - 85px);
  }
  main section .repos__list {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  main section .repos__list__repo {
    width: 100%;
  }
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer ul {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer ul li:not(:last-child) {
    margin-right: 16px;
  }
  footer ul:first-child {
    margin-bottom: 4px;
  }
  footer svg {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */